@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

@mixin blink {
  text-decoration:blink;
  -webkit-animation-name:blinker;
          animation-name:blinker;  
  -webkit-animation-iteration-count:infinite;  
          animation-iteration-count:infinite;  
  -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
          animation-timing-function:cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:1s; 
          animation-duration:1s; 
}


#log {
  width:100%;
  max-width:600px;
  font-family:monospace;
  color:#666;
  padding:1em;
  margin:0 auto;

  li {
    list-style:none;
    line-height:1.3em;
    min-height:1.3em;

    &[contenteditable] {
      outline:none;
      &:before {
        content:"> ";
        @include blink;
      }
    }
  }
}
